* {
  font-family: sans-serif;
}

.container {
  text-align: center;
  background-color: green;
  display: block;
  padding: 2px;
  float: left;
  margin: auto;
}

.square {
  display: inline-block;
  vertical-align: middle;
  line-height: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgb(82, 187, 72);
  margin: 2px;
}

.triple-word {
  background-color: rgb(255, 65, 65);
}

.double-word {
  background-color: rgb(255, 200, 200);
}

.triple-letter {
  background-color: rgb(12, 166, 255);
}

.double-letter {
  background-color: rgb(161, 220, 255);
}

.tile {
  background-color: rgb(253, 253, 187);
  font-weight: bold;
}
